body {
    padding: 0;
    margin: 0;
    background-color: #ebeef8;
}

/* Global styles */
.font-600 {
    font-family:'Courier New', Courier, monospace !important;  
    font-weight: 600;
}

.oslogray {
    color: aliceblue;
}

.ellipsis {
    text-overflow: ellipsis;
}

.pointer {
    cursor: pointer;
}

h1, h2, h3, h4, p {
    margin-top: 0;
    margin-bottom: 0;
}

.header {
    display: flex;
    width: 100%;
    height: 70px;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: rgb(69, 229, 229);
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.logo img{
    border-radius: 20%;
}

.img-height-width {
    width: 50px;
    height: 50px;
}

.nav-items > ul {
    display:  flex;
    gap: 25px;
    justify-content: space-around;
    align-items: center;
}

.nav-items > ul > li {
    list-style-type: none;
}

/* Search Bar */
.search-bar {
   width: 40%;
   height: auto;
   padding: 10px;
   margin: 20px 0px;
   background-color: white;
}

.search-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-img {
    width: 40px;
    height: 30px;
    border: none;
    background-color: white;
}

.search-bar input {
    height: 25px;
    width: 80%;
    font-size: 15px;
    border: none;
    outline: none;
    text-decoration: none;
    background-color: white;
}

.auto-suggest-div {
    width: 40%;
    background-color: rgb(216, 213, 213);
    position: absolute;
    top: 15%;
}

/* Restaurant Container */
.restaurant-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    gap: 10px;
    box-sizing: border-box;
}

.restaurant-cards-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.card {
    display: flex;
    width: 260px;
    height: auto;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: white;
}

.card:hover {
    border: 1px solid rgb(168, 167, 167);
    box-shadow: 1px 2px 10px rgb(168, 167, 167);
    max-width: 258px;

}

.img-wrapper {
    width: 250px;
    height: 180px;
}

.cusines {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Shimer cards */
/* .shimmer-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
} */

.shimmer-card {
    width: 280px;
    height: 326px;
    background-color: #cac8c8;
    animation: shimmer-animation 5s ease-in;
}

/* Login btn */
.login-btn {
    padding: 10px;
    background-color: #ebeef8;
    border: none;
    border-radius: 4px;
}

@keyframes shimmer-animation {
    0% {
        transform: perspective(200px) translateZ(0);
    }
    50% {
        transform: perspective(200px) translateZ(5px);
    }
    100% {
        transform: perspective(200px) translateZ(70px);
    }
}